#add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 128px;
}

#add-run-button {
    width: fit-content;
    display: flex;
    align-items: center;
}