#runs-list-container {
    display: block;
    overflow: auto;
    justify-content: flex-start;
    padding: 16px;
    width: 100%;
    background-color: white;
}

#people{
    display: flex;
    margin: 0;
    padding-top: 12px;
    align-items: center;
}

#people-icon {
    margin-left: 4px;
}

#participation-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    margin-right: 8px;
}

#map-icon {
    margin-right: 8px;
}

#map-button{
    position: absolute;
    right: 16px;
    top: 16px;
}

.SubInfo {
    margin: 0;
}